<!DOCTYPE html>
<html>
	<head>
		<title>顯示所有資料</title>
	</head>
	<body>
		<h2>顯示 company6666 資料表所有資料</h2>
		<table border="1" cellpadding="0" cellspacing="0">
			<th>統編</th><th>序號</th><th>職稱</th><th>姓名</th>
			<th>英文名</th><th>持股數</th>
			{% for company in companys %}
				<tr>
					<td>{{ company.idno }} </td>
					<td>{{ company.index }} </td>
					<td>{{ company.title}} </td>
					<td>{{ company.name }} </td>
					<td>{{ company.ename }} </td>
					<td>{{ company.stocks}} </td>

				</tr>
			{% endfor %}
		</table>
	</body>
</html>
	